:root {
  --white: rgb(255, 255, 255);
  --background: #f8f8f8;
  --grey: #ADADAD;
  --blue-black: #12022d;
  --yellow: #ffc800;
  --pink: #ff00a6;
  --purple: #8a8ac9; }

:root {
  --white: rgb(255, 255, 255);
  --background: #f8f8f8;
  --grey: #ADADAD;
  --blue-black: #12022d;
  --yellow: #ffc800;
  --pink: #ff00a6;
  --purple: #8a8ac9; }

path {
  stroke-width: 1px;
  fill: none; }

.moon-shine {
  filter: drop-shadow(0px 0px 10px var(--white)); }

.moon-shadow {
  fill: var(--blue-black); }

.moon-white {
  fill: var(--white); }

.moon-yellow {
  fill: var(--yellow); }

.star ellipse {
  fill: var(--yellow);
  filter: drop-shadow(0px 0px 10px var(--yellow)); }

.orion ellipse {
  filter: drop-shadow(0px 0px 10px var(--yellow));
  fill: var(--yellow); }

.orion path {
  stroke: var(--purple); }

.floor-horizontal {
  stroke: var(--purple); }

.floor-horizon-line {
  stroke-width: 2px;
  filter: drop-shadow(0px 0px 5px var(--purple)); }

.floor-shine path {
  filter: drop-shadow(0px 0px 5px var(--pink));
  stroke-width: 2px; }

.cloud-scroll {
  -webkit-animation: cloud-scroll 60s infinite linear;
  animation: cloud-scroll 60s infinite linear; }

.cloud-scroll-rev {
  -webkit-animation: cloud-scroll-rev 60s infinite linear;
  animation: cloud-scroll-rev 60s infinite linear; }

@keyframes cloud-scroll {
  0% {
    -webkit-transform: translateX(-10vw); }
  100% {
    -webkit-transform: translateX(10vw); } }

@keyframes cloud-scroll-rev {
  0% {
    -webkit-transform: translateX(10vw); }
  100% {
    -webkit-transform: translateX(-10vw); } }

:root {
  --stylised-font: 'VT323'; }

.hero {
  z-index: -1; }

.styled-font {
  font-family: var(--stylised-font); }

.page-title {
  text-align: center;
  font-family: var(--stylised-font);
  font-size: 2rem;
  color: var(--purple); }

@media (min-width: 768px) {
  .page-title {
    font-size: 3rem; } }

.sub-title__container p {
  text-align: center;
  color: var(--purple); }

.nav {
  z-index: 1;
  position: sticky;
  top: -1px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  font-family: var(--stylised-font);
  background-color: var(--blue-black); }

.nav--pinned .nav-link {
  color: var(--purple); }

.nav-link {
  color: var(--white);
  text-decoration: none;
  font-size: 2rem; }

@media (min-width: 768px) {
  .nav {
    justify-content: flex-end; }
  .nav-link {
    margin-right: 3rem;
    font-size: 3rem; } }

.main-wrapper {
  position: relative;
  left: 3vw;
  width: 94vw;
  margin-bottom: 2rem;
  box-sizing: inherit;
  border-image: linear-gradient(to bottom, var(--pink), var(--blue-black)) 1;
  border-width: 5px;
  border-style: solid;
  border-color: var(--pink);
  background-color: var(--blue-black); }
  .main-wrapper--home {
    top: calc(-30vw + 100px); }
  .main-wrapper--subpage {
    top: calc(-10vw + 50px); }

@media (min-width: 768px) {
  .main-wrapper {
    left: 15vw;
    width: 70vw;
    margin-bottom: 3rem; } }

.main-content {
  background-color: var(--blue-black);
  color: var(--white);
  padding: 2rem 1rem 3rem 1rem;
  min-height: 75vh;
  box-sizing: inherit; }

@media (min-width: 768px) {
  .main-content {
    padding: 3rem 8rem 5rem 8rem;
    min-height: 50vh; } }

.footer {
  width: 100%; }
  .footer__text {
    padding-right: 1rem;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--purple); }
    .footer__text a {
      color: inherit; }

.container {
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  min-height: 25vh;
  height: fit-content;
  margin-bottom: 5rem; }
  .container:last-of-type {
    margin-bottom: 0; }

.centre-xy {
  display: flex;
  justify-content: center;
  align-items: center; }

.container-section {
  width: 100%;
  flex-grow: 1;
  box-sizing: inherit;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .container-section--left {
    order: 1; }
  .container-section--right {
    order: 2; }
  .container-section--image {
    padding: 0;
    order: 0; }

@media (min-width: 768px) {
  .container-section {
    width: 50%;
    padding: 1rem 3rem; }
    .container-section--image {
      padding: 0; } }

@media (min-width: 768px) {
  .container {
    flex-direction: row; }
  .container-section--left {
    order: 1; }
  .container-section--right {
    order: 2; } }

.inline-image {
  width: 100%; }

div.highlight pre {
  padding: 1rem;
  overflow-x: scroll; }

div.highlight code {
  font-family: monospace;
  color: inherit;
  font-size: inherit;
  display: inline;
  -webkit-text-size-adjust: none; }

:root {
  --headshot-width: 250px;
  --circle-top-right-y: 0px;
  --circle-top-right-y-1: -5px;
  --circle-top-right-y-2: 5px;
  --circle-mid-right-y: 100px;
  --circle-mid-right-y-1: 95px;
  --circle-mid-right-y-2: 105px;
  --circle-low-right-y: 200px;
  --circle-low-right-y-1: 195px;
  --circle-low-right-y-2: 205px; }

.headshot__photo {
  width: var(--headshot-width);
  height: var(--headshot-width);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  position: relative; }

.section__title {
  text-align: center;
  font-family: var(--stylised-font);
  font-size: 3rem;
  color: var(--white); }

.sparkle {
  width: 6%;
  height: 6%;
  position: relative;
  -webkit-animation: sparkle 5s infinite ease-in-out;
  animation: sparkle 5s infinite ease-in-out; }

@keyframes sparkle {
  0% {
    top: 0px;
    filter: drop-shadow(0px 0px 5px var(--white)); }
  50% {
    top: 15px;
    filter: drop-shadow(0px 0px 1px var(--white)); }
  100% {
    top: 0px;
    filter: drop-shadow(0px 0px 5px var(--white)); } }

.book {
  width: 60%;
  height: 60%; }

.circle {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .circle svg {
    width: 60%;
    height: 60%; }
  .circle--top-right {
    top: var(--circle-top-right-y);
    left: calc(var(--headshot-width)*0.8);
    -webkit-animation: float-top-right 5s infinite ease-in-out;
    animation: float-top-right 5s infinite ease-in-out; }
  .circle--mid-right {
    top: var(--circle-mid-right-y);
    left: calc(var(--headshot-width)*0.9);
    -webkit-animation: float-mid-right 5s 1s infinite ease-in-out;
    animation: float-mid-right 5s 1s infinite ease-in-out; }
  .circle--low-right {
    top: var(--circle-low-right-y);
    left: calc(var(--headshot-width)*0.7);
    -webkit-animation: float-low-right 5s 2s infinite ease-in-out;
    animation: float-low-right 5s 2s infinite ease-in-out;
    color: black;
    font-family: var(--stylised-font);
    font-size: 200%; }
  .circle--large {
    width: calc(var(--headshot-width)*0.3);
    height: calc(var(--headshot-width)*0.3); }
  .circle--small {
    width: calc(var(--headshot-width)*0.2);
    height: calc(var(--headshot-width)*0.2); }

@keyframes float-top-right {
  0% {
    top: var(--circle-top-right-y-1); }
  50% {
    top: var(--circle-top-right-y-2); }
  100% {
    top: var(--circle-top-right-y-1); } }

@keyframes float-mid-right {
  0% {
    top: var(--circle-mid-right-y-1); }
  50% {
    top: var(--circle-mid-right-y-2); }
  100% {
    top: var(--circle-mid-right-y-1); } }

@keyframes float-low-right {
  0% {
    top: var(--circle-low-right-y-1); }
  50% {
    top: var(--circle-low-right-y-2); }
  100% {
    top: var(--circle-low-right-y-1); } }

.post__date {
  color: var(--purple); }

.post h1,
.post h2,
.post h3,
.post h4 {
  font-family: var(--stylised-font); }

.post h1 {
  font-size: 2.5rem; }

.post h2 {
  font-size: 2.5rem; }

.post h3 {
  font-size: 2rem; }

.post h4 {
  font-size: 1.75rem; }

.post figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .post figure img {
    width: 100%;
    margin-bottom: 1rem; }
  .post figure figcaption {
    text-align: center;
    font-size: 90%;
    font-style: italic;
    width: 100%; }

.post p a:link, .post p a:visited, .post p a:active,
.post li a:link,
.post li a:visited,
.post li a:active {
  text-decoration: none;
  color: var(--purple); }

.post p a:hover,
.post li a:hover {
  text-decoration: none;
  color: var(--yellow); }

@media (min-width: 768px) {
  .post figure img {
    width: 50%; } }

@media (min-width: 768px) {
  .post figure figcaption {
    width: 60%; } }

.post-preview__container {
  margin-bottom: 2rem; }

.post-preview__title {
  font-size: 3rem;
  margin-block-end: 0.5rem;
  color: var(--white);
  text-decoration: none;
  width: fit-content; }
  .post-preview__title a:link, .post-preview__title a:visited, .post-preview__title a:active {
    text-decoration: none;
    color: var(--purple); }
  .post-preview__titlea:hover {
    text-decoration: none;
    color: var(--yellow); }

.post-preview__subtitle {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  color: var(--purple); }

.post-preview__snippet {
  color: var(--pink); }
  .post-preview__snippet a:link, .post-preview__snippet a:visited, .post-preview__snippet a:active {
    text-decoration: none;
    color: var(--purple); }
  .post-preview__snippeta:hover {
    text-decoration: none;
    color: var(--yellow); }

:root {
  --white: rgb(255, 255, 255);
  --background: #f8f8f8;
  --grey: #ADADAD;
  --blue-black: #12022d;
  --yellow: #ffc800;
  --pink: #ff00a6;
  --purple: #8a8ac9; }

.tag-list__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-inline-start: 0px;
  flex-wrap: wrap; }

.tag-list__item {
  display: block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: var(--blue-black);
  border-radius: 5px;
  border: 1px solid var(--pink);
  padding: 0.25rem 0.5rem;
  color: var(--pink);
  text-decoration: none; }
  .tag-list__item:hover {
    border-color: var(--yellow);
    color: var(--yellow); }

.tag-index__title {
  font-family: var(--stylised-font);
  font-size: 3rem;
  color: var(--purple);
  text-decoration: none;
  width: fit-content; }

.tag-index__list {
  list-style-type: disclosure-closed; }

.tag-index__link {
  margin-bottom: 0.5rem; }
  .tag-index__link::marker {
    color: var(--pink); }
  .tag-index__link a {
    color: inherit; }

.project-preview__container {
  margin-bottom: 2rem; }

.project-preview__title {
  font-size: 3rem;
  margin-block-end: 0.5rem;
  color: var(--white);
  text-decoration: none;
  width: fit-content; }
  .project-preview__title a:link, .project-preview__title a:visited, .project-preview__title a:active {
    text-decoration: none;
    color: var(--purple); }
  .project-preview__titlea:hover {
    text-decoration: none;
    color: var(--yellow); }

.project-preview__subtitle {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  color: var(--purple); }

.project-page__caption {
  text-align: center;
  color: var(--purple); }

.project-page h1,
.project-page h2,
.project-page h3,
.project-page h4 {
  font-family: var(--stylised-font); }

.project-page h1 {
  font-size: 2.5rem; }

.project-page h2 {
  font-size: 2.5rem; }

.project-page h3 {
  font-size: 2rem; }

.project-page h4 {
  font-size: 1.75rem; }

.project-page img {
  width: 100%; }

.project-page p a,
.project-page li a {
  color: var(--purple); }

.project__hero-image {
  width: 100%;
  margin-bottom: 1rem; }

.pagination {
  margin-top: 3rem;
  border-top: var(--purple) 2px solid;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0;
  margin-bottom: 2rem; }

.page-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 5px; }
  .page-item a {
    text-decoration: none; }
  .page-item.active, .page-item.disabled {
    opacity: 0.5;
    background-color: var(--blue-black);
    border: 1px solid var(--pink);
    cursor: default; }
    .page-item.active a, .page-item.disabled a {
      color: var(--pink); }
  .page-item:not(active) {
    cursor: pointer;
    border: 1px solid var(--pink); }
    .page-item:not(active) a {
      color: var(--pink); }

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--blue-black);
  font-family: Arial, Helvetica, sans-serif; }

p::selection {
  background-color: var(--yellow);
  color: var(--blue-black); }

.social-icon {
  height: 80%;
  width: auto;
  fill: var(--grey); }
