@import 'colours';
@import 'hero-image';
@import 'layout';
@import 'home/main';
@import 'blog/main';
@import 'project/main';
@import 'pagination';

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--blue-black);
    font-family: Arial, Helvetica, sans-serif;
}

p::selection {
    background-color: var(--yellow);
    color: var(--blue-black);
}

.social-icon {
    height: 80%;
    width: auto;
    fill: var(--grey);
}