@import 'variables';

.giphy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.giphyGIF-container {
  height:auto;
}


.giphyGIF-container .giphyGIF {
  margin-bottom: 1em;
}
