@import 'variables';

.project {
  margin-bottom: 50px;
}

.project-description{
  padding: 10px;
  background-color: $light-grey-colour;
  min-height: 75px;
  & > h3 {
    font-weight: bold;
  }
}

.project-github-logo {
  font-size: 1em;
  margin-left: 1em;
}
