$blue-colour: #1E90FF;
$pink-colour: #FF1E90;
$light-grey-colour: #efeff2;
$dark-grey-colour: #808080;

h1 {
  text-align: center;
}

a {
  color: var($light-grey-colour);

  &:hover {
    color: var($light-grey-colour);
  }
}

.portrait-circle{
  background-image: url("../img/sarah.jpg");
  background-size: cover;
  background-position: 0% 10%;
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.navbar--styling{
    max-height: 100px;
    border-bottom: var($blue-colour);
    border-bottom-style: solid;
    border-bottom-width: 12px;
}

.grey-background{
  background-color: var($dark-grey-colour);
}


.container--border{
  border-radius: 10px;
  padding: 15px;

  border-left-color: var($blue-colour);
  border-left-style: solid;
  border-left-width: 2px;

  border-right-color: var($blue-colour);
  border-right-style: solid;
  border-right-width: 2px;
}

.navbar-default {
    background-color: var($dark-grey-colour);
 }

 @media only screen and (max-width: 768px) {
    .navbar-default .navbar-collapse {
        text-align: center;
        background-color: var($dark-grey-colour);
        z-index: 10;
     }
 }

.active {
  font-style: italic;
}


/* Below is copied from a W3Schools How To & tweaked for my site */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  /* The actual timeline (the vertical ruler) */
  &:after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var($light-grey-colour);
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;

  /* Add arrows to the left container (pointing right) */
  &:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var($light-grey-colour);
  }
}

/* Place the container to the right */
.right {
  left: 50%;

  /* Add arrows to the right container (pointing left) */
  &:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent var($light-grey-colour) transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  &:after {
    left: -16px;
  }
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: var($light-grey-colour);
  position: relative;
  border-radius: 6px;
}
