// Testing importing partials
@import 'variables';



// Testing using mixins - background colour
@mixin gimme-a-background-colour($color){
  background-color: $color;
}

h2 {
  color: $brand-1;
  margin: 1em;
}

mark {
   background-color: $brand-2; 
}

li {
  margin-bottom: 1em;
}