.post-preview__container {
    margin-bottom: 2rem;
}

.post-preview__title {
    font-size: 3rem;
    margin-block-end: 0.5rem;
    color: var(--white);
    text-decoration: none;
    width: fit-content;

    & a:link,
    & a:visited,
    & a:active {
        text-decoration: none;
        color: var(--purple);
    }

    &a:hover {
        text-decoration: none;
        color: var(--yellow);
    }
}

.post-preview__subtitle {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    color: var(--purple);
}

.post-preview__snippet {
    color: var(--pink);

    & a:link,
    & a:visited,
    & a:active {
        text-decoration: none;
        color: var(--purple);
    }

    &a:hover {
        text-decoration: none;
        color: var(--yellow);
    }
}