.project {
  margin-bottom: 50px; }

.project-description {
  padding: 10px;
  background-color: #efeff2;
  min-height: 75px; }
  .project-description > h3 {
    font-weight: bold; }

.giphy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.giphyGIF-container {
  height: auto; }

.giphyGIF-container .giphyGIF {
  margin-bottom: 1em; }

.contact-icon {
  margin: auto;
  font-size: 3em; }

.contact-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.surprise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

h1 {
  text-align: center; }

.navbar-nav > a {
  color: #efeff2; }
  .navbar-nav > a:hover {
    color: #efeff2; }

.portrait-circle {
  background-image: url("../img/sarah.jpg");
  background-size: cover;
  background-position: 0% 10%;
  height: 150px;
  width: 150px;
  border-radius: 100%; }

.navbar--styling {
  max-height: 100px;
  border-bottom: #1E90FF;
  border-bottom-style: solid;
  border-bottom-width: 12px; }

.grey-background {
  background-color: #808080; }

.container--border {
  border-radius: 10px;
  padding: 15px;
  border-left-color: #1E90FF;
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: #1E90FF;
  border-right-style: solid;
  border-right-width: 2px; }

.navbar-default {
  background-color: #808080; }

@media only screen and (max-width: 768px) {
  .navbar-default .navbar-collapse {
    text-align: center;
    background-color: #808080; } }
.active {
  font-style: italic; }

/* Below is copied from a W3Schools How To & tweaked for my site */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  /* The actual timeline (the vertical ruler) */ }
  .timeline:after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px; }

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%; }

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #efeff2;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1; }

.left {
  /* Place the container to the left */
  left: 0; }
  .left:before {
    /* Add arrows to the left container (pointing right) */
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #efeff2; }

.right {
  /* Place the container to the right */
  left: 50.25%; }
  .right:before {
    /* Add arrows to the right container (pointing left) */
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #efeff2 transparent transparent; }
  .right:after {
    /* Fix the circle for containers on the right side */
    left: -16px; }

.content {
  /* The actual content */
  padding: 20px 30px;
  background-color: #efeff2;
  position: relative;
  border-radius: 6px; }

/*# sourceMappingURL=main.css.map */
