:root {
  --blue-colour: #1E90FF;
  --pink-colour: #FF1E90;
  --light-grey-colour: #efeff2;
  --dark-grey-colour: #808080;

}

h1 {
  text-align: center;
}

a {
  color: var(--light-grey-colour);
}

a:hover {
  color: var(--light-grey-colour);
}

.portrait-circle{
  background-image: url("../img/sarah.jpg");
  background-size: cover;
  background-position: 0% 10%;
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.navbar--styling{
    max-height: 100px;
    border-bottom: var(--blue-colour);
    border-bottom-style: solid;
    border-bottom-width: 12px;
}

.grey-background{
  background-color: var(--dark-grey-colour);
}


.container--border{
  border-radius: 10px;
  padding: 15px;

  border-left-color: var(--blue-colour);
  border-left-style: solid;
  border-left-width: 2px;

  border-right-color: var(--blue-colour);
  border-right-style: solid;
  border-right-width: 2px;
}

.navbar-default {
    background-color: var(--dark-grey-colour);
 }

 @media only screen and (max-width: 768px) {
    .navbar-default .navbar-collapse {
        text-align: center;
        background-color: var(--dark-grey-colour);
        z-index: 10;
     }
 }

.active {
  font-style: italic;
}
