.lights {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}

.lights__bulbs ellipse {
    rx: 2.4992;
    ry: 2.4765;
    transition: rx 3s, ry 3s, opacity 3s;
}

.lights__bulbs--red ellipse {
    fill: #f93a5b;
}

.lights__bulbs--red path {
    fill: #f93a5b;
}

.lights__bulbs--yellow ellipse {
    fill: #fbcf4c;
}

.lights__bulbs--yellow path {
    fill: #fbcf4c;
}

.lights__bulbs--green ellipse {
    fill: #68cba3;
}

.lights__bulbs--green path {
    fill: #68cba3;
}

.lights__wires {
    stroke:#20262f;
    fill:none;
}

.lights__sockets {
    fill:#20262f;
    stroke:#20262f;
}

.lights__bar {
    fill:#3e606d;
}

.lights__bulbs--flash1 ellipse:nth-child(3n+1){
    rx:4;
    ry:4;
    opacity: 0.8;
}

.lights__bulbs--flash2 ellipse:nth-child(3n+2){
    rx:4;
    ry:4;
    opacity: 0.8;
}

.lights__bulbs--flash3 ellipse:nth-child(3n+3){
    rx:4;
    ry:4;
    opacity: 0.8;
}