.lights {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

.lights__bulbs ellipse {
    rx: 2.4992;
    ry: 2.4765;
}

.lights__bulbs--red ellipse {
    fill: #f93a5b;
}

.lights__bulbs--red path {
    fill: #f93a5b;
}

.lights__bulbs--yellow ellipse {
    fill: #FCAE49;
}

.lights__bulbs--yellow path {
    fill: #FCAE49;
}

.lights__bulbs--green ellipse {
    fill: #68cba3;
}

.lights__bulbs--green path {
    fill: #68cba3;
}

.lights__bulbs--white ellipse {
    fill: #fff;
    rx: 1.5;
    ry: 1.5;
}

.lights__wires {
    stroke:#20262f;
    fill:none;
}

.lights__sockets {
    fill:#20262f;
    stroke:#20262f;
}

.lights__bar {
    fill:#3e606d;
}


.lights__bulbs--flash ellipse:nth-child(3n){
    -webkit-animation: flash1 3s infinite; /* Safari 4+ */
    -moz-animation:    flash1 3s infinite; /* Fx 5+ */
    -o-animation:      flash1 3s infinite; /* Opera 12+ */
    animation:         flash1 3s infinite; /* IE 10+, Fx 29+ */
}

.lights__bulbs--flash ellipse:nth-child(3n+1){
    -webkit-animation: flash2 3s infinite; /* Safari 4+ */
    -moz-animation:    flash2 3s infinite; /* Fx 5+ */
    -o-animation:      flash2 3s infinite; /* Opera 12+ */
    animation:         flash2 3s infinite; /* IE 10+, Fx 29+ */
}

.lights__bulbs--flash ellipse:nth-child(3n+2){
    -webkit-animation: flash3 3s infinite; /* Safari 4+ */
    -moz-animation:    flash3 3s infinite; /* Fx 5+ */
    -o-animation:      flash3 3s infinite; /* Opera 12+ */
    animation:         flash3 3s infinite; /* IE 10+, Fx 29+ */
}

.lights__bulbs--white ellipse:nth-child(3n){
    -webkit-animation: whiteflash1 3s infinite; /* Safari 4+ */
    -moz-animation:    whiteflash1 3s infinite; /* Fx 5+ */
    -o-animation:      whiteflash1 3s infinite; /* Opera 12+ */
    animation:         whiteflash1 3s infinite; /* IE 10+, Fx 29+ */
}

.lights__bulbs--white ellipse:nth-child(3n+1){
    -webkit-animation: whiteflash2 3s infinite; /* Safari 4+ */
    -moz-animation:    whiteflash2 3s infinite; /* Fx 5+ */
    -o-animation:      whiteflash2 3s infinite; /* Opera 12+ */
    animation:         whiteflash2 3s infinite; /* IE 10+, Fx 29+ */
}

.lights__bulbs--white ellipse:nth-child(3n+2){
    -webkit-animation: whiteflash3 3s infinite; /* Safari 4+ */
    -moz-animation:    whiteflash3 3s infinite; /* Fx 5+ */
    -o-animation:      whiteflash3 3s infinite; /* Opera 12+ */
    animation:         whiteflash3 3s infinite; /* IE 10+, Fx 29+ */
}

@keyframes flash1 {
  0% {opacity: 1; rx: 2.4992; ry: 2.4765;}
  66% {opacity: 0.8; rx: 3.5; ry: 3.5;}
  100% {opacity: 1; rx: 2.4992; ry: 2.4765;}
}

@keyframes flash2 {
  0% {opacity: 1; rx: 2.4992; ry: 2.4765;}
  33% {opacity: 0.8; rx: 3.5; ry: 3.5;}
  100% {opacity: 1; rx: 2.4992; ry: 2.4765;}
}

@keyframes flash3 {
  0% {opacity: 0.8; rx: 3.5; ry: 3.5;}
  50% {opacity: 1; rx: 2.4992; ry: 2.4765;}
  100% {opacity: 0.8; rx: 3.5; ry: 3.5;}
}

@keyframes whiteflash1{
  0% {opacity: 0.5;  rx: 5; ry: 5;}
  66% {opacity: 0.1; rx: 1; ry: 1;}
  100% {opacity: 0.5; rx: 5; ry: 5;}
}

@keyframes whiteflash2 {
  0% {opacity: 0.5;  rx: 5; ry: 5;}
  33% {opacity: 0.1; rx: 1; ry: 1;}
  100% {opacity: 0.5;  rx: 5; ry: 5;}
}

@keyframes whiteflash3 {
  0% {opacity: 0.1; rx: 1; ry: 1;}
  50% {opacity: 0.5;  rx: 5; ry: 5;}
  100% {opacity: 0.1; rx: 1; ry: 1;}
}