.Menu {
    margin-top: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Muli, sans-serif;
    font-size: larger;
    font-weight: normal;
    align-items: baseline;
}

.Menu * {
    text-decoration: none;
    color: #3E606D;
    font-size: inherit;
    font-weight: inherit;
    margin: 0 1em 0 1em;
}

.Menu .current h1 {
    text-decoration: underline;
    margin: 0;
}
