.Menu {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Muli, sans-serif;
    font-size: larger;
    font-weight: normal;
}

.Menu * {
    margin: 0 1em 1em 1em;
    text-decoration: none;
    color: #3E606D;
    font-size: inherit;
    font-weight: inherit;
}

.Menu .current {
    text-decoration: underline;
}