.Section {
    margin-bottom: 2em;
    align-self: center;
    padding: 1em;
    border-radius: 5px;
    border-top: #dedede 1px solid;
    border-left: #d3d3d3 1px solid;
    border-right: #d3d3d3 1px solid;
    border-bottom: #cecece solid 1px;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}


.Section__header{
    color: #3E606D;
    font-family: Muli, Roboto, sans-serif;
    margin: 0;
    position: relative;
    top: -0.75em;
    left: -0.25em;
    font-size: 2em;
    transform: rotate(-5deg);
    width: 60%;
}

.Section__icons {
    text-align: right;
    margin-top: -2em;
    font-size: 1.5em;
}

@media screen and (min-width: 500px){
    .Section {
        width: 40%;
        align-self: stretch;
        margin: 1em;
    }
    
    .Section__header{
        top: -1em;
        left: -1em;
        width: 100%;
    }

}

